*, *:before, *:after { box-sizing: border-box; }
html { font-size: 62.5%; }
html, body { margin:0; height: 100%; }
body { background-color: #FFF176; }
p { color: #000; font-size: 22px; font-family: 2.2rem}



